<div class="page-header">
  <%= link_to clientes_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Atras
  <% end %>
  <%= link_to edit_cliente_path(@cliente), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h1>Ver Cliente</h1>
</div>

<dl class="dl-horizontal">
  <dt>RFC:</dt>
  <dd><%= @cliente.rfc %></dd>

  <dt>Nombre:</dt>
  <dd><%= @cliente.nombre %></dd>

  <dt>Email:</dt>
  <dd><%= @cliente.email %></dd>
  
  <dt>Telefono:</dt>
  <dd><%= @cliente.telefono %></dd>

  <dt>Noexterior:</dt>
  <dd><%= @cliente.noExterior %></dd>

  <dt>Nointerior:</dt>
  <dd><%= @cliente.noInterior %></dd>

  <dt>Calle:</dt>
  <dd><%= @cliente.calle %></dd>

  <dt>Colonia:</dt>
  <dd><%= @cliente.colonia %></dd>

  <dt>Municipio:</dt>
  <dd><%= @cliente.municipio %></dd>

  <dt>Estado:</dt>
  <dd><%= @cliente.estado %></dd>

  <dt>Pais:</dt>
  <dd><%= @cliente.pais %></dd>

  <dt>Codigopostal:</dt>
  <dd><%= @cliente.codigoPostal %></dd>
  
  <dt>Lista de Precios:</dt>
  <dd><%= @cliente.listadeprecio.nombre %></dd>

</dl>
