<div class="page-header">
  <%= link_to new_concepto_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Nuevo Concepto
  <% end %>
  <h1>Listado conceptos</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Cantidad</th>
            <th>Unidad</th>
            <th>Descripcion</th>
            <th>Valorunitario</th>
            <th>Importe</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @conceptos) do |concepto| %>
            <td><%= concepto.cantidad %></td>
            <td><%= concepto.unidad %></td>
            <td><%= concepto.descripcion %></td>
            <td><%= concepto.valorUnitario %></td>
            <td><%= concepto.importe %></td>
            <td><%= link_to 'Show', concepto %></td>
        <td><%= link_to 'Edit', edit_concepto_path(concepto) %></td>
        <td><%= link_to 'Destroy', concepto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
