<div class="page-header">
  <%= link_to conceptos_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Atras
  <% end %>
  <%= link_to edit_concepto_path(@concepto), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h1>Ver concepto</h1>
</div>

<dl class="dl-horizontal">
  <dt>Cantidad:</dt>
  <dd><%= @concepto.cantidad %></dd>

  <dt>Unidad:</dt>
  <dd><%= @concepto.unidad %></dd>

  <dt>Descripcion:</dt>
  <dd><%= @concepto.descripcion %></dd>

  <dt>Valorunitario:</dt>
  <dd><%= @concepto.valorUnitario %></dd>

  <dt>Importe:</dt>
  <dd><%= @concepto.importe %></dd>

</dl>
