<%= form_for(@remision, :html => { :class => "form-horizontal" }) do |f| %>
  <% if @remision.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(@remision.errors.count, "error") %> prohibited this remision from being saved:</h4>

      <ul>
      <% @remision.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
	<div class="row">
		<div class="col-md-4">
            <img src="#" class="img-rounded logo">
			<address>
	        <strong>ACME, Inc.</strong><br>
	        P.O Box 3171<br>
	        Kent, WA 98089<br>
    	</address>
		</div>
		<div class="col-md-4 well">
			<table class="invoice-head">
				<tbody>
					<tr>
						<td class="pull-right"><strong>Cliente </strong></td>
						<td><%= collection_select(:remision, :cliente_id, @clientes, :id, :nombre, {:prompt => false}, :class => "form-control") %></td>
					</tr>
					<tr>
						<td class="pull-right"><strong>Forma de Pago </strong></td>
						<td><%= collection_select(:remision, :formasdepago_id, @formasdepago, :id, :nombre, {:prompt => false}, :class => "form-control") %></td>
					</tr>
					<tr>
						<td class="pull-right"><strong>Metodo de Pago </strong></td>
						<td><%= collection_select(:remision, :metodosdepago_id, @metodosdepago, :id, :nombre, {:prompt => false}, :class => "form-control") %></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<h2>Conceptos</h2>
		</div>
	</div>
	<div class="row">
  	<div class="col-md-8 well invoice-body">
  		<table class="table table-bordered table-striped">
			<thead>
				<tr>
          <th>&nbsp;</th>
          <th>Description</th>
          <th>P. Unit.</th>
          <th>Cantidad</th>
          <th>Unidad</th>
					<th>Importe</th>
				</tr>
  			<tr>
          <td class="col-lg-1"><div id="agregar" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></div></td>
  				<td class="col-lg-6"><%= text_area_tag "concepto", nil, {:class => "form-control", :placeholder => "Producto o Descripcion"} %></td>
  				<td class="col-lg-2"><%= text_field_tag "punit", nil, {:class => "form-control text-right"} %></td>
          <td class="col-lg-1"><%= text_field_tag "cantidad", nil, {:class => "form-control text-right"} %></td>
  				<td class="col-lg-2"><%= text_field_tag "unidad", nil, {:class => "form-control"} %></td>
          <td class="col-lg-2"><p class="lead text-right">$20,000.00</p></td>
  			</tr>
			</thead>
			<tbody id="conceptos">
			</tbody>
      <tbody id="totales">
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
  				<td>&nbsp;</td>
          <td><strong>SubTotal</strong></td>
          <td><p class="lead text-right">$1000.00</strong></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
  				<td><strong>Total</strong></td>
  				<td><p class="lead text-right">$1000.00</strong></td>
  			</tr>
      </tbody>
		</table>
  	</div>
	</div>
	<div class="row">
		<div class="col-md-8 well invoice-thank">
			<h5 style="text-align:center;">Thank You!</h5>
		</div>
	</div>
	<div class="row">
    	<div class="col-md-3">
	        <strong>Phone:</strong> <a href="tel:555-555-5555">555-555-5555</a>
    	</div>
    	<div class="col-md-3">
	        <strong>Email:</strong> <a href="mailto:hello@5marks.co">hello@bootply.com</a>
    	</div>
    	<div class="col-md-3">
	        <strong>Website:</strong> <a href="http://5marks.co">http://bootply.com</a>
    	</div>
	</div>
</div>

  <div class="form-group">
    <%= f.label :cliente, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= collection_select(:remision, :cliente_id, @clientes, :id, :nombre, {:prompt => false}, :class => "form-control") %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :condicionesdepago, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :condicionesdepago, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :formasdepago, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :formasdepago, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :metodosdepago, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :metodosdepago, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :subtotal, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :subtotal, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :descuento, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :descuento, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :total, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :total, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :totalimpuestosretenidos, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :totalimpuestosretenidos, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :totalimpuestostrasladados, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :totalimpuestostrasladados, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
