<%= form_for(@remision, :html => { :class => "form-horizontal" }) do |f| %>
  <% if @remision.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(@remision.errors.count, "error") %> prohibited this remision from being saved:</h4>
      <ul>
	      <% @remision.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
	<div class="row">
		<div class="col-md-5">
			<address>
		        <strong><%= current_user.empresa.razonsocial %></strong><br>
		        <%= current_user.empresa.rfc %> <%= current_user.empresa.calle %> <%= current_user.empresa.noExterior %><br>
		        <%= current_user.empresa.colonia %> <%= current_user.empresa.municipio %> <%= current_user.empresa.estado %><br>
				<%= current_user.empresa.pais %> <%= current_user.empresa.codigoPostal %><br>
				<strong>Sucursal: <%= current_user.sucursal.nombre %></strong>
    		</address>
		</div>
		<div class="col-md-6 well">
			<table class="invoice-head">
				<tbody>
					<tr>
						<td class="pull-right"><strong>Cliente </strong></td>
						<td><%= collection_select(:remision, :cliente_id, @clientes, :id, :nombre, {:prompt => false}, :class => "form-control") %></td>
					</tr>
					<tr>
						<td class="pull-right"><strong>Forma de Pago </strong></td>
						<td><%= collection_select(:remision, :formasdepago_id, @formasdepago, :id, :nombre, {:prompt => false}, :class => "form-control") %></td>
					</tr>
					<tr>
						<td class="pull-right"><strong>Metodo de Pago </strong></td>
						<td><%= collection_select(:remision, :metodosdepago_id, @metodosdepago, :id, :nombre, {:prompt => false}, :class => "form-control") %></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h2>Conceptos</h2>
		</div>
	</div>
	<div class="row">
  	<div class="col-md-12 invoice-body">
  		<table class="table table-bordered table-striped">
			<thead>
				<tr>
		          <th><div id="agregar" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></div></th>
		          <th>Descripción</th>
		          <th>P. Unit. ($)</th>
		          <th>Cantidad</th>
		          <th>Unidad</th>
				  <th>IVA Traslad. (%)</th>
				  <th class="visible"><div id="otrosimptos" class="btn btn-info">Ver Otros Impuestos</div></th>
				  <th class="hidden oculto">IEPS Traslad. (%)</th>
				  <th class="hidden oculto">IVA Reten. (%)</th>
				  <th class="hidden oculto">ISR Reten. (%)</th>
				  <th>Importe ($)</th>
		  		</tr>
			</thead>
			<tbody id="conceptos">
			</tbody>
		</table>
	</div>
	</div>
	<div class="row">
  	<div class="col-md-4 col-md-offset-8">
		<table class="table table-striped">
	      <tbody id="totales">
	        <tr>
				<td>&nbsp;</td>
	          <td><strong>SubTotal</strong></td>
	          <td><p id="subtotal" class="lead text-right">$0.00</strong></td>
	        </tr>
	        <tr>
	  		  <td><strong>Descuento</strong></td>
	          <td><%= text_field_tag "descuento", '0', {:class => "form-control text-right", :onkeyUp => "calcTotales();"} %>%</td>
	          <td><p id="totdescuento" class="lead text-right">$0.00</strong></td>
	        </tr>
	        <tr>
				<td>&nbsp;</td>
	          <td><strong>IVA Trasladado</strong></td>
	          <td><p id="totivatrasladado" class="lead text-right">$0.00</strong></td>
	        </tr>
	        <tr class="hidden oculto">
				<td>&nbsp;</td>
	          <td><strong>IEPS Trasladado</strong></td>
	          <td><p id="totiepstrasladado" class="lead text-right">$0.00</strong></td>
	        </tr>
	        <tr class="hidden oculto">
				<td>&nbsp;</td>
	          <td><strong>IVA Retenido</strong></td>
	          <td><p id="totivaretenido" class="lead text-right">$0.00</strong></td>
	        </tr>
	        <tr class="hidden oculto">
				<td>&nbsp;</td>
	          <td><strong>ISR Retenido</strong></td>
	          <td><p id="totisrretenido" class="lead text-right">$0.00</strong></td>
	        </tr>
	        <tr>
	          <td>&nbsp;</td>
	  				<td><strong>Total</strong></td>
	  				<td><p id="total" class="lead text-right">$0.00</strong></td>
	  			</tr>
	      </tbody>
		</table>
  	</div>
	</div>
    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <%= f.submit "Crear Remision", :class => "btn btn-primary pull-right" %>
      </div>
    </div>
	<% end %>
    <div class="row">
        <div class="col-md-12 well invoice-thank">
            	<h5 style="text-align:center;">Tel. <%= current_user.sucursal.telefono %> | E-mail. <%= current_user.sucursal.email %></h5>
        </div>
    </div>
</div>
<script>
init();
</script>