<div class="page-header">
  <%= link_to remisiones_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Atras
  <% end %>
  <%= link_to remision_path(@remision.id, :format => :pdf), :class => 'btn btn-info', :target => "_blank" do %>
    <span class="glyphicon glyphicon-print"></span>
    Imprimir
  <% end %>
  <!-- Button trigger modal -->
  <% unless @remision.facturada %>
  	<% unless @remision.cancelada %>
	  <a class="btn btn-primary" data-toggle="modal" data-target="#facturarModal">
      <span class="glyphicon glyphicon-file"></span>
	    Facturar
	  </a>
	<% end %>
  <% end %>
  <h1>
	  Remisión #<%= @remision.consecutivo %>
	  <% if @remision.cancelada %>
	  	<div class="alert alert-danger">
			Fecha Cancelacion <%= @remision.fechacancelacion.to_s(Time.zone) %></div>
	  <% end %>	  
  </h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-5">
			<address>
		        <strong><%= current_user.empresa.razonsocial %></strong><br>
		        <%= current_user.empresa.rfc %> <%= current_user.empresa.calle %> <%= current_user.empresa.noExterior unless current_user.empresa.noExterior.blank? %><br>
		        <%= current_user.empresa.colonia unless current_user.empresa.colonia.blank? %> <%= current_user.empresa.municipio %> <%= current_user.empresa.estado unless current_user.empresa.estado.blank? %><br>
				<%= current_user.empresa.pais unless current_user.empresa.pais.blank? %> <%= current_user.empresa.codigoPostal unless current_user.empresa.codigoPostal.blank? %><br>
				<strong>Sucursal: <%= @remision.sucursal.nombre %></strong>
    		</address>
        </div>
        <div class="col-md-6 well">
            <table class="invoice-head">
                <tbody>
                    <tr>
                        <td class="pull-right"><strong>Cliente </strong>
                        </td>
                        <td><%= link_to @remision.cliente.nombre, cliente_path(@remision.cliente) %></td>
                    </tr>
                    <tr>
                        <td class="pull-right"><strong>Dirección </strong>
                        </td>
                        <td><%= @remision.cliente.direccion_completa %></td>
                    </tr>
                    <tr>
                        <td class="pull-right"><strong>Fecha </strong>
                        </td>
                        <td><%= @remision.created_at.to_s(Time.zone) %></td>
                    </tr>
					<% if @remision.facturada %>
	                    <tr>
	                        <td>&nbsp;</td>
	                        <td><strong>CFDi</strong></td>
	                    </tr>
	                    <tr>
	                        <td class="pull-right"><strong>Cliente Factura </strong>
	                        </td>
	                        <td><%= link_to @remision.clientefactura.nombre, cliente_path(@remision.clientefactura) %></td>
	                    </tr>
	                    <tr>
	                        <td class="pull-right"><strong>Folio </strong>
	                        </td>
	                        <td><%= @remision.seriefolio %></td>
	                    </tr>
	                    <tr>
	                        <td class="pull-right"><strong>UUID </strong>
	                        </td>
	                        <td><%= @remision.uuid %> (Folio Fiscal)</td>
	                    </tr>
	                    <tr>
	                        <td class="pull-right"><strong>XML </strong>
	                        </td>
	                        <td><%= link_to "Descargar XML", @remision.xml_url, :target => "_blank" %></td>
	                    </tr>
	                    <tr>
	                        <td class="pull-right"><strong>PDF </strong>
	                        </td>
	                        <td><%= link_to "Descargar PDF", @remision.pdf_url, :target => "_blank" %></td>
	                    </tr>
					<% end %>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            	<h2>Conceptos</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 well invoice-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Description</th>
						<th>Cantidad [Unidad]</th>
                        <th>P. Unit.</th>
                        <th>IVA Tras.</th>
						<th>IEPS Tras.</th>
						<th>IVA Ret.</th>
						<th>ISR Ret.</th>
                    </tr>
                </thead>
                <tbody>
                <% @remision.conceptos.each do |concepto| %>
                    <tr>
                        <td><%= concepto.descripcion %></td>
						<td class="text-right"><%= concepto.cantidad %> [<%= concepto.unidad %>]</td>
                        <td class="text-right"><%= number_to_currency(concepto.valorunitario, precision: ENV['DECIMALESDEFAULT'].to_i ) %></td>
						<td class="text-right"><%= concepto.ivatrasladado %>%</td>
						<td class="text-right"><%= concepto.iepstrasladado %>%</td>
						<td class="text-right"><%= concepto.ivaretenido %>%</td>
						<td class="text-right"><%= concepto.isrretenido %>%</td>
                        
                    </tr>
                    <% end %>
                    <tr>
                        <td colspan="4">&nbsp;</td>
                        <td colspan="2"><strong>Subtotal</strong>
                        </td>
                        <td class="text-right"><strong><%= number_to_currency(@remision.subtotal, precision: ENV['DECIMALESDEFAULT'].to_i ) %></strong>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">&nbsp;</td>
                        <td colspan="2"><strong>Descuento</strong>
                        </td>
                        <td class="text-right"><strong><%= @remision.descuento %>%</strong>
                        </td>
                    </tr>
                    <% unless @remision.ivaTrasladado == 0 %>
                      <tr>
                          <td colspan="4">&nbsp;</td>
                          <td colspan="2"><strong>IVA</strong>
                          </td>
                          <td class="text-right"><strong><%= number_to_currency(@remision.ivaTrasladado.to_f, precision: ENV['DECIMALESDEFAULT'].to_i ) %></strong>
                          </td>
                      </tr>
                    <% end %>
                    <% unless @remision.iepsTrasladado == 0 %>
                      <tr>
                          <td colspan="4">&nbsp;</td>
                          <td colspan="2"><strong>IEPS</strong>
                          </td>
                          <td class="text-right"><strong><%= number_to_currency(@remision.iepsTrasladado.to_f, precision: ENV['DECIMALESDEFAULT'].to_i ) %></strong>
                          </td>
                      </tr>
                    <% end %>
                    <% unless @remision.ivaRetenido == 0 %>
                      <tr>
                          <td colspan="4">&nbsp;</td>
                          <td colspan="2"><strong>Ret. IVA</strong>
                          </td>
                          <td class="text-right"><strong><%= number_to_currency(@remision.ivaRetenido.to_f, precision: ENV['DECIMALESDEFAULT'].to_i ) %></strong>
                          </td>
                      </tr>
                    <% end %>
                    <% unless @remision.isrRetenido == 0 %>
                      <tr>
                          <td colspan="4">&nbsp;</td>
                          <td colspan="2"><strong>Ret. ISR</strong>
                          </td>
                          <td class="text-right"><strong><%= number_to_currency(@remision.isrRetenido.to_f, precision: ENV['DECIMALESDEFAULT'].to_i ) %></strong>
                          </td>
                      </tr>
                    <% end %>
                    <tr>
                        <td colspan="4">&nbsp;</td>
                        <td colspan="2"><strong>Total</strong>
                        </td>
                        <td class="text-right"><strong><%= number_to_currency(@remision.total, precision: ENV['DECIMALESDEFAULT'].to_i ) %></strong>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 well invoice-thank">
            	<h5 style="text-align:center;">Tel. <%= @remision.sucursal.telefono %> | E-mail. <%= @remision.sucursal.email %></h5>
        </div>
    </div>
</div>

<!-- Modal -->
<% unless @remision.facturada %>
	<%= form_tag(facturar_remision_path(:id => @remision.id), method: "post") do %>
	<div class="modal fade" id="facturarModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel">Facturar Remisión</h4>
	      </div>
	      <div class="modal-body">
			  <div class="row">
			  
					  <div class="form-group">
					    <%= label_tag :serie, "Serie de Facturacion" %>
						<%= select_tag(:serie, options_for_select([['No Hay Series', -1]]), :class => "hide") %>
					  </div>
			  
			  </div>
			  <div class="row">
			  
					  <div class="form-group">
					    <%= label_tag :cliente, "Cliente de la Factura" %>
						<% collection_select(nil, :cliente_id, current_user.empresa.clientes.load, :id, :nombre, {:prompt => false, :selected => @remision.cliente.id}, :class => "form-control") %>
						<%= select_tag(:cliente_id, options_from_collection_for_select(current_user.empresa.clientes.load, :id, :nombre, :selected => @remision.cliente.id), :class=> "form-control") %>
					  </div>
			  
			  </div>
			  <div class="row">
			  
					  <div class="form-group">
					    <%= label_tag :referencia, "Referencia" %>
						<%= text_field_tag :referencia, '', {:class => "form-control"} %>
					  </div>
			  
			  </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
	        <button type="submit" class="btn btn-primary">Facturar</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	<% end %>
<% end %>
<script>
$(document).ready(function() {
	$.ajax({
		   type: 'get',
		   async: true,
	       url: "/remisiones/<%= @remision.id %>/series.json"
	    }).success(function(data) {
			for (var j = 0; j < data.length; j++){                 
                //console.log(data[j].nombre + "--" + data[j].id);
				$("#serie").html("");
                $("#serie").append("<option value='" +data[j].id+ "'>" +data[j].nombre+ "</option>");
				$("#serie").removeClass("hide");
            }
	    });
	
});
</script>