<div class="page-header">
  <%= link_to new_retencion_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Nuevo Retencion
  <% end %>
  <h1>Listado retenciones</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Tipo</th>
            <th>Nombre</th>
            <th>Tasa</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @retenciones) do |retencion| %>
            <td><%= retencion.tipo %></td>
            <td><%= retencion.nombre %></td>
            <td><%= retencion.tasa %></td>
            <td><%= link_to 'Show', retencion %></td>
        <td><%= link_to 'Edit', edit_retencion_path(retencion) %></td>
        <td><%= link_to 'Destroy', retencion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
