<div class="page-header">
  <%= link_to new_moneda_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Moneda
  <% end %>
  <h1>Listing monedas</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Nombre</th>
            <th>Codigo</th>
            <th>Tipocambio</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @monedas) do |moneda| %>
            <td><%= moneda.nombre %></td>
            <td><%= moneda.codigo %></td>
            <td><%= moneda.tipocambio %></td>
            <td><%= link_to 'Show', moneda %></td>
        <td><%= link_to 'Edit', edit_moneda_path(moneda) %></td>
        <td><%= link_to 'Destroy', moneda, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
