<div class="page-header">
  <%= link_to traslados_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Atras
  <% end %>
  <%= link_to edit_traslado_path(@traslado), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h1>Ver traslado</h1>
</div>

<dl class="dl-horizontal">
  <dt>Tipo:</dt>
  <dd><%= @traslado.tipo %></dd>

  <dt>Nombre:</dt>
  <dd><%= @traslado.nombre %></dd>

  <dt>Tasa:</dt>
  <dd><%= @traslado.tasa %></dd>

</dl>
