<div class="page-header">
  <%= link_to new_formasdepago_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Nueva Forma de Pago
  <% end %>
  <h1>Formas de Pago</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Nombre</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @formasdepagos) do |formasdepago| %>
            <td><%= formasdepago.nombre %></td>
            <td><%= link_to 'Show', formasdepago %></td>
        <td><%= link_to 'Edit', edit_formasdepago_path(formasdepago) %></td>
        <td><%= link_to 'Destroy', formasdepago, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
