<% content_for :specific_js do %>
	<%= javascript_include_tag "jquery.sparkline.min" %>
	<%= javascript_include_tag "dashboard" %>
	
	<script type="text/javascript">
	var distribucionventas = <%= @distribucion_ventas.map {|k, v| v} %>
	var values = <%= raw @distribucion_ventas.map.with_index {|s, index| Sucursal.find(s[0]).nombre } %>
	var titles = new Array();
	
	for(var i=0; i<values.length; i++) {

	    titles.push([distribucionventas[i],values[i]]);

	}
	
	$('#distribucionventas').sparkline(distribucionventas, 
	{
		type: 'pie', 
		width: '200px', 
		height: '200px',
		tooltipFormat: '<span style="color: {{color}}">&#9679;</span> {{offset:names}} ({{percent.1}}%)',
		tooltipValueLookups: {
	        'names': 
			titles
		}
	});
	</script>
<% end %>
<style type="text/css">
	.jqstooltip{
	    box-sizing: content-box;
	}
</style>
<div class="page-header">
	<h1>Dashboard</h1>
</div>

<div class="container row">
  <div class="col-md-6">
	  <h4>Distribución de Remisiones Creadas por Sucursal (<%= Time.zone.now.year %>)</h4> <br />
	  <span id="distribucionventas">Cargando..</span>
  </div>
  <div class="col-md-6">
	  <h4>Ultimas 5 Remisiones</h4> <br />
	  <div>
		  <table class="table table-striped table-bordered table-hover">
			  <tr>
				  <th>Folio</th>
				  <th>Fecha</th>
				  <th>Cliente</th>
				  <th>Total</th>
			  </tr>
			  <% @ultimasremisiones.each do |remision| %>
				  <tr>
					  <td><%= link_to remision.sucursal.nombre + " " + remision.consecutivo.to_s, remision %></td>
					  <td><%= remision.created_at.to_s(Time.zone) %></td>
					  <td><%= remision.cliente.nombre %></td>
					  <td align="right"><%= number_to_currency(remision.total) %></td>
				  </tr>
			  <% end %>
		  </table>
	  </div>
  </div>
</div>