<div class="page-header">
  <%= link_to new_metodosdepago_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Nuevo Metodo de Pago
  <% end %>
  <h1>Metodos de Pago</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Nombre</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @metodosdepagos) do |metodosdepago| %>
            <td><%= metodosdepago.nombre %></td>
            <td><%= link_to 'Show', metodosdepago %></td>
        <td><%= link_to 'Edit', edit_metodosdepago_path(metodosdepago) %></td>
        <td><%= link_to 'Destroy', metodosdepago, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
  <%= paginate @metodosdepagos %>
</div>
