<div class="page-header">
  <%= link_to new_listadeprecio_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Nueva Lista de Precios
  <% end %>
  <h1>Lista de Precios</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @listadeprecios) do |listadeprecio| %>
            <td><%= listadeprecio.nombre %></td>
            <td><%= listadeprecio.descripcion %></td>
            <td><%= link_to 'Ver', listadeprecio %></td>
        <td><%= link_to 'Editar', edit_listadeprecio_path(listadeprecio) %></td>
        <td><%= link_to 'Eliminar', listadeprecio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
  <%= paginate @listadeprecios %>
</div>
