<%= form_for(@producto, :html => { :class => "form-horizontal" }) do |f| %>
  <% if @producto.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(@producto.errors.count, "error") %> prohibited this producto from being saved:</h4>

      <ul>
      <% @producto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
    <div class="col-lg-8">
      <div class="form-group">
        <%= f.label :nombre, :class => "col-lg-2 control-label" %>
        <div class="col-lg-10">
          <%= f.text_area :nombre, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :codigobarras, :class => "col-lg-2 control-label" %>
        <div class="col-lg-10">
          <%= f.text_field :codigobarras, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :unidad, :class => "col-lg-2 control-label" %>
        <div class="col-lg-10">
          <% #f.select_field :unidad, :class => "form-control" %>
          <%= collection_select(:producto, :unidad_id, @unidades, :id, :nombre, {:prompt => false}, :class => "form-control") %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :precio, 'Costo', :class => "col-lg-2 control-label" %>
        <div class="col-lg-10">
          <%= f.text_field :precio, :class => "form-control" %>
        </div>
      </div>
	  
      <div class="form-group">
        <%= f.label :ivatrasladado, :class => "col-lg-2 control-label" %>
        <div class="col-lg-10">
          <%= f.text_field :ivatrasladado, :value => ENV['IVATRASDEFAULT'], :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :iepstrasladado, :class => "col-lg-2 control-label" %>
        <div class="col-lg-10">
          <%= f.text_field :iepstrasladado, :value => '0', :class => "form-control" %>
        </div>
      </div>
	  
      <div class="form-group">
        <%= f.label :ivaretenido, :class => "col-lg-2 control-label" %>
        <div class="col-lg-10">
          <%= f.text_field :ivaretenido, :value => '0', :class => "form-control" %>
        </div>
      </div>
	  
      <div class="form-group">
        <%= f.label :isrretenido, :class => "col-lg-2 control-label" %>
        <div class="col-lg-10">
          <%= f.text_field :isrretenido, :value => '0', :class => "form-control" %>
        </div>
      </div>
	  
      <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
          <%= f.submit :class => "btn btn-primary" %>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
		<h3>Precios</h3>
		<% @listadeprecios.each do |lista| %>
	        <div class="form-group">
	          <%= lista.nombre.to_s %>
	          <div class="col-lg-10"> <!-- remision[conceptos_attributes][][valorunitario] -->
				<% prec = Precio.where(:listadeprecio_id => lista.id, :producto_id => @producto.id ).first %>
				<% if prec %>
					
					<%= hidden_field_tag 'producto[precios_attributes][][id]', prec.id %>
					<%= hidden_field_tag 'producto[precios_attributes][][listadeprecio_id]', lista.id %>
		            <%= text_field_tag 'producto[precios_attributes][][precio]', prec.precio %>
					
				<% else %>
					
					<%= hidden_field_tag 'producto[precios_attributes][][listadeprecio_id]', lista.id %>
		            <%= text_field_tag 'producto[precios_attributes][][precio]', 0.0 %>
					
				<% end %>
				
	          </div>
	        </div>
		<% end %>
    </div>
  </div>
  
<% end %>
