<div class="page-header">
  <%= link_to productos_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Atras
  <% end %>
  <%= link_to edit_producto_path(@producto), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h1>Ver Producto</h1>
</div>

<div class="row">
	<div class="col-lg-8">
		<dl class="dl-horizontal">
		  <dt>Nombre:</dt>
		  <dd><%= @producto.nombre %></dd>
  
		  <dt>Codigo Barras:</dt>
		  <dd><%= @producto.codigobarras %></dd>

		  <dt>Unidad:</dt>
		  <dd><%= @producto.unidad.nombre %></dd>
  
		  <dt>Precio:</dt>
		  <dd><%= number_to_currency(@producto.precio, {:precision => ENV['DECIMALESDEFAULT'].to_i}) %></dd>
  
		  <dt>IVA Trasladado:</dt>
		  <dd><%= number_to_percentage(@producto.ivatrasladado) %></dd>
  
		  <dt>IEPS Trasladado:</dt>
		  <dd><%= number_to_percentage(@producto.iepstrasladado) %></dd>
  
		  <dt>IVA Retenido:</dt>
		  <dd><%= number_to_percentage(@producto.ivaretenido) %></dd>

		  <dt>ISR Retenido:</dt>
		  <dd><%= number_to_percentage(@producto.isrretenido) %></dd>

		</dl>
	</div>
	<div class="col-lg-4">
		<h3>Precios</h3>
		<dl class="dl-horizontal">
		<% @producto.precios.each do |precio| %>
  		  <dt><%= precio.listadeprecio.nombre.to_s %></dt>
  		  <dd><%= number_to_currency(precio.precio, {:precision => ENV['DECIMALESDEFAULT'].to_i}) %></dd>
		<% end %>
		</dl>
	</div>
</div>