<div class="page-header">
  <%= link_to precios_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Atras
  <% end %>
  <%= link_to edit_precio_path(@precio), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h1>Ver precio</h1>
</div>

<dl class="dl-horizontal">
  <dt>Producto:</dt>
  <dd><%= @precio.producto %></dd>

  <dt>Moneda:</dt>
  <dd><%= @precio.moneda %></dd>

  <dt>Precio:</dt>
  <dd><%= @precio.precio %></dd>

</dl>
