<%# add navigation links to this file %>
<% unless user_signed_in? %>
	<ul class="nav navbar-nav">
		<li><%= link_to 'Login', new_user_session_path %></li>
		<!-- <li><%= link_to 'Registrarse', new_user_registration_path %></li> -->
	</ul>
<% end %>

<ul class="nav navbar-nav">
	<% if user_signed_in? %>
	  <% if current_user.has_role? :admin %>
	    <li><%= link_to 'Admin', users_path %></li>
	  <% end %>
  
	  <li class="dropdown">
	    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Catalogos <b class="caret"></b></a>
	    <ul class="dropdown-menu">
	      <li><%= link_to 'Clientes', clientes_path %></li>
	      <li><%= link_to 'Productos', productos_path %></li>
	      <li><%= link_to 'Remisiones', remisiones_path %></li>
	      <li class="divider"></li>
		  <li><%= link_to 'Listas de Precios', listadeprecios_path %></li>
	      <li><%= link_to 'Formas de Pago', formasdepagos_path %></li>
	      <li><%= link_to 'Metodos de Pago', metodosdepagos_path %></li>
	      <li><%= link_to 'Condiciones de Pago', condicionesdepagos_path %></li>
	      <li><%= link_to 'Unidades', unidades_path %></li>
		  <li><%= link_to 'Sucursales', sucursales_path %></li>
		  <li><%= link_to 'Usuarios', users_path %></li>
	    </ul>
	  </li>
  
	  <% if current_user.has_role? :gerente %>
		  <li class="dropdown">
		    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reportes <b class="caret"></b></a>
		    <ul class="dropdown-menu">
		      <li><%= link_to 'Reporte de Ventas', rptventas_remisiones_path %></li>
			  <li><%= link_to 'Reporte de Ventas por Producto', rptventasporproducto_remisiones_path %></li>
			  <li><%= link_to 'Reporte por Metodo Pago', rptmetodopago_remisiones_path %></li>
		    </ul>
		  </li>
	    <li><%= link_to 'Perfil de Empresa', edit_empresa_path(current_user.empresa.id) %></li>
	  <% end %>
  
	  <li><%= link_to '+ Nueva Remision', new_remision_path, :class => '' %></li>
	<% end %>
</ul>
<% if user_signed_in? %>
	<ul class="nav navbar-nav navbar-right">
		<li><%= link_to current_user.name + ' (Perfil)', edit_user_registration_path %></li>
		<li><%= link_to 'Salir', destroy_user_session_path, :method=>'delete' %></li>
	</ul>
<% end %>
  

